/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */
	@font-face {
    font-family: 'ModernPictogramsNormal';
    src: url('../fonts/modernpics-webfont.eot');
    src: url('../fonts/modernpics-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/modernpics-webfont.woff') format('woff'),
         url('../fonts/modernpics-webfont.ttf') format('truetype'),
         url('../fonts/modernpics-webfont.svg#ModernPictogramsNormal') format('svg');
    font-weight: normal;
    font-style: normal;

	}
	input {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	    border:2px solid #dadada;
	    border-radius:7px;
	    font-size:17px;
	    padding:2px; 
	    color: grey;
	}

	input:focus { 
	    outline:none;
	    border-color:#9ecaed;
	    box-shadow:0 0 10px #9ecaed;
	}
	#search_button{
		visibility:hidden;
	}
	#search_address{
		margin-top: 8px;
		margin-right: 8px;
	}
	 #search_address,button{
		float:right;
	}
 	li{
		list-style-type: none;
	}
	a{
		text-decoration: none;
		color: white;

	}
	.icon_container{
		padding-right: 30px;	
	}
	.icon{
		font: 42px 'ModernPictogramsNormal', Arial, sans-serif;
		float: right;
		padding-right: 65px;
		padding-top: 10px;
	}
	.icon2{
		font: 42px 'ModernPictogramsNormal', Arial, sans-serif;
		float: right;
		padding-right: 28px;
		padding-top: 10px;
	}
	#map_canvas img {
		max-width: none;
	}
	body {
		background:url('../img/bg.png');;
	}
	.logo{
		background: url('../img/logo.png');
		height:65px;
		width: 188px;
		float: left;

	}
	.marginblock{
		margin-right: 0px;
	}
	.picture{
		background: url('../img/pic.png');
		height:180px;
		width: 180px;
		background-size: 180px 180px;
		float: left;
	}
	.stats{
		margin-top: 20px;

	}
	.topbar{
		background: url('../img/topbar.png');
		height:45px;
		width: 900px;
	}
		.topbarmap{
		background: url('../img/topbarmap.png');
		height:45px;
		width: 900px;
	}
		.topbarphoto{
		background: url('../img/topbarphoto.png');
		height:45px;
		width: 900px;
	}
	.graph{

	background: url('../img/paper.jpg');
	background-size: 200px 900px;
	height:200px;
	width: 900px;
	

	}
	.gallery{

	background: url('../img/paper.jpg');
	width: 900px;
	}
	footer{
		height: 60px;

	}
/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

@media handheld, only screen and (max-width: 767px) {

	body {

	}

}


/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */

@media only screen and (-webkit-min-device-pixel-ratio: 2) {

/*	.logo {
		background: url(logo2x.jpg) no-repeat;
		background-size: 212px 303px;
	}*/

}